@using Calendar.ObjectModel.Models;

@model User
<h1>@(Model.DisplayName)'s profile</h1>
<div id="events">
  <h2>@(Model.DisplayName)'s upcoming events</h2>
  <ul>
      @foreach (var event_ in Model.Events)
      {
          <li><a href="../events/@(event_.Id)">@(event_.Title)</a></li>
      }
  </ul>
</div>
<div id="contacts">
  <h2>@(Model.DisplayName)'s contacts</h2>
  <ul>
  </ul>
</div>